.testimonials-title h3 {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  margin-bottom: 40px;
}
.testimonials {
  .slider {
    width: 65%;
    margin: 0 auto 80px;
    .carousel-item {
      min-height: 350px;
      .carousel-caption {
        background-color: #fff;
        width: 100%;
        padding: 80px 70px 35px;
        right: 0;
        img {
          position: absolute;
          top: 0;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }
    }
    .carousel-caption {
      h4 {
        font-size: 18px;
        color: #555;
        margin-bottom: 15px;
        span {
          font-size: 15px;
          color: #9c9c9c;
        }
      }
      p {
        font-size: 15px;
        line-height: 22px;
        color: #b1b1b1;
        margin-bottom: 25px;
      }
      li a {
        font-size: 24px;
        color: #b2d8fe;
        transition: all 0.5s ease;
        &:hover {
          color: #0575e6;
        }
      }
    }
    .carousel .carousel-indicators {
      bottom: -5px;
      button {
        width: 15px;
        height: 15px;
        border: 1px solid #0575e6;
        background-color: #fff;
        &.active {
          background-color: #0575e6;
        }
      }
    }
  }
  // .carousel {
  //   .carousel-control-next i, .carousel-control-prev i {
  //     padding: 10px 20px;
  //     background-color: #0575e6;
  //     border-radius: 50%;
  //   }
  //   .carousel-control-next {
  //     transform: translateX(-50%);
  //   }
  //   .carousel-control-prev {
  //     transform: translateX(50%);
  //   }
  // }
}







.carousel {
  // width: 65% ;
  margin: 0 auto 80px;
  .carousel-indicators {
    bottom: -5px;
    button {
      width: 15px;
      height: 15px;
      border: 1px solid #0575e6;
      background-color: #fff;
      &.active {
        background-color: #0575e6;
      }
    }
  }
  .carousel-item {
    min-height: 350px;
    // position: relative;
    img {
      // position: absolute;
      top: 0;
      //text-align: center;
      // transform: translate(200%, 40%);
      -webkit-transform: translate(200%, 40%);
      -moz-transform: translate(200%, 40%);
      -ms-transform: translate(200%, 40%);
      -o-transform: translate(200%, 40%);
    }
    .carousel-caption {
      background-color: #fff;
      width: 100%;
      padding: 80px 70px 35px;
      right: 0;
    }
  }
  .carousel-caption {
    h3 {
      font-size: 18px;
      color: #555;
      margin-bottom: 15px;
      span {
        font-size: 15px;
        color: #9c9c9c;
      }
    }
    p {
      font-size: 15px;
      line-height: 22px;
      color: #b1b1b1;
      margin-bottom: 25px;
    }
    li a {
      font-size: 24px;
      color: #b2d8fe;
      transition: all 0.5s ease;
      &:hover {
        color: #0575e6;
      }
    }
  }
}

.carousel {
  .carousel-control-next span,
  .carousel-control-prev span {
    padding: 10px 20px;
    background-color: #0575e6;
    border-radius: 50%;
  }
  .carousel-control-next {
    // transform: translateX(-50%);
  }
  .carousel-control-prev {
    // transform: translateX(50%);
  }
}

// *********************************************

// .headSlider {
//   text-align: center;
//   width: 100%;
//   margin-top: 100px;
//   h2 {
//     color: #011a3e;
//     font-size: 45px;
//     font-weight: 700;
//   }
// }
.slidy {
  margin-top: 100px;
  width: 100%;
  // width: 65%;
  // margin: 0 auto 80px;
  img {
    width: 100px;
    margin-left: 16%;
    border-radius: 50%;
    margin-top: 50px;
    // margin: auto;
  }
  .text {
    background-color: white;
    height: 350px;
    h5,
    p {
      text-align: center;
    }
    p {
      margin-bottom: 50px;
    }
  }
  .carousel .carousel-indicators {
    bottom: -22px;
    button {
      width: 15px;
      height: 15px;
      border: 1px solid #0575e6;
      background-color: #fff;
      &.active {
        background-color: #0575e6;
      }
    }
  }
}

.slidy {
  .carousel {
    .carousel-control-next span,
    .carousel-control-prev span {
      padding: 10px 20px;
      background-color: #0575e6;
      border-radius: 50%;
    }
    .carousel-control-next {
      transform: translateX(50%);
    }
    .carousel-control-prev {
      transform: translateX(-50%);
    }
  }
  .carousel-caption {
    h3 {
      font-size: 18px;
      color: #555;
      margin-bottom: 15px;
      span {
        font-size: 15px;
        color: #9c9c9c;
      }
    }
    p {
      font-size: 15px;
      line-height: 22px;
      color: #b1b1b1;
      margin-bottom: 25px;
    }
    li a {
      font-size: 24px;
      color: #b2d8fe;
      transition: all 0.5s ease;
      &:hover {
        color: #0575e6;
      }
    }
  }
}

// *****************************************************

.slidy {
  .carousel-item {
    // min-height: 350px;
    .carousel-caption {
      background-color: #fff;
      width: 100%;
      padding: 80px 70px 35px;
      right: 0;
      img {
        position: absolute;
        top: 0;
        transform: translate(-50%, 50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
  }
  .carousel-caption {
    h4 {
      font-size: 18px;
      color: #555;
      margin-bottom: 15px;
      span {
        font-size: 15px;
        color: #9c9c9c;
      }
    }
    p {
      font-size: 15px;
      line-height: 22px;
      color: #b1b1b1;
      margin-bottom: 25px;
    }
    li a {
      font-size: 24px;
      color: #b2d8fe;
      transition: all 0.5s ease;
      &:hover {
        color: #0575e6;
      }
    }
  }
}

.carousel {
  // width: 65% ;
  margin: 0 auto 80px;
  .carousel-indicators {
    bottom: -5px;
    button {
      width: 15px;
      height: 15px;
      border: 1px solid #0575e6;
      background-color: #fff;
      &.active {
        background-color: #0575e6;
      }
    }
  }
  .carousel-item {
    min-height: 350px;
    // position: relative;
    img {
      // position: absolute;
      top: 0;
      //text-align: center;
      // transform: translate(200%, 40%);
      -webkit-transform: translate(200%, 40%);
      -moz-transform: translate(200%, 40%);
      -ms-transform: translate(200%, 40%);
      -o-transform: translate(200%, 40%);
    }
    .carousel-caption {
      background-color: #fff;
      width: 100%;
      padding: 80px 70px 35px;
      right: 0;
    }
  }
}
