.myWork {
  padding: 75px 0 90px;
  text-align: center;
  .headWork {
    margin-bottom: 35px;
    h2 {
      font-size: 30px;
      line-height: 50px;
      color: #0575e6;
    }
  }
  .workNav {
    label {
      font-size: 18px;
      line-height: 35px;
      color: #8f9899;
      padding: 10px 30px;
      background-color: #fff;
      border: 2px solid #e4eeee;
      border-radius: 2px;
      cursor: pointer;
      margin: 0 7px 40px;
      transition: all 0.5s ease;
      &:hover {
        color: #fff;
        background-color: #0575e6;
        border: 2px solid #0575e6;
      }
    }
    .items {
      .item {
        margin-bottom: 25px;
        transition: all 0.5s ease;
      }
    }
  }
  .boxesProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 20px;
    @media (min-width: 1030px) {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .box {
      border: 1px solid #777;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
      &:hover {
        // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        transition: 1s;
      }
      img {
        width: 100%;
        height: 200px;
        border-bottom: 1px solid rgba(76, 76, 76, 0.208);
      }
      span:not(:empty)  {
        background-color: #194569;
        border-radius: 10px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 10px;
        color: #fff;
      }
      .contentBox {
        padding: 10px;
        .spans {
          padding: 10px;
        }
      }
    }
  }
}

.gallery .workNav input.item-type-1:checked ~ label.label-type-1,
.gallery .workNav input.item-type-2:checked ~ label.label-type-2,
.gallery .workNav input.item-type-3:checked ~ label.label-type-3,
.gallery .workNav input.item-type-all:checked ~ label.label-type-all {
  color: #fff;
  background-color: #0575e6;
  border: 2px solid #0575e6;
}

// .gallery .gallery-work input.item-type-1:checked ~ .items .item-type-1,
// .gallery .gallery-work input.item-type-2:checked ~ .items .item-type-2,
// .gallery .gallery-work input.item-type-3:checked ~ .items .item-type-3 {
//   transform: scale(1.08);
//   opacity: 1;
// }

// section.gallery
//   .gallery-work
//   input.item-type-1:checked
//   ~ .items
//   .item:not(.item-type-1),
// section.gallery
//   .gallery-work
//   input.item-type-2:checked
//   ~ .items
//   .item:not(.item-type-2),
// section.gallery
//   .gallery-work
//   input.item-type-3:checked
//   ~ .items
//   .item:not(.item-type-3) {
//   transform: scale(0.8);
//   opacity: 0.5;
// }




// $color_1: #fff;
// $color_2: #16aeca;
// $color_3: #555;
// $color_4: #919191;
// $font-family_1: sans-serif;
// $background-color_1: rgba(22, 174, 202, 0.9);
// $background-color_2: rgba(0, 0, 0, 0.9);
// $background-color_3: #16aeca;

// section.gallery {
// 	.gallery-work {
// 		a.gallery-link {
// 			position: relative;
// 			display: block;
// 		}
// 		.gallery-link {
// 			img {
// 				width: 100%;
// 			}
// 			.gallery-hover {
// 				position: absolute;
// 				width: 90%;
// 				height: 90%;
// 				top: 5%;
// 				left: 5%;
// 				color: $color_1;
// 				background-color: $background-color_1;
// 				z-index: 5;
// 				opacity: 0;
// 				transition: all 0.5s ease;
// 				i {
// 					position: absolute;
// 					bottom: 50%;
// 					right: 50%;
// 					font-size: 36px;
// 					transform: translate(50%, 50%);
// 				}
// 			}
// 			&:hover {
// 				.gallery-hover {
// 					opacity: 1;
// 				}
// 			}
// 		}
// 		.gallery-overlay {
// 			background-color: $background-color_2;
// 			position: fixed;
// 			right: 0;
// 			// top: 15%;
// 			top: 0;
// 			width: 100%;
// 			height: 100vh;
// 			z-index: 30;
// 			padding: 5% 10%;
// 			opacity: 0;
// 			margin-top: -100vh;
// 			transition: all 1s ease;
//       z-index: 99999999999;
// 			&:target {
// 				opacity: 1;
// 				margin-top: 0;
// 			}
// 			.overlay-img {
// 				img {
// 					width: 10%;
//           // height: 100vh;
// 				}
// 			}
			
// 		}
// 	}
// 	.gallery-overlay {
// 		.overlay-text {
// 			margin-top: 50px;
// 			h4 {
// 				font-size: 36px;
// 				line-height: 52px;
// 				color: $color_2;
// 				margin-bottom: 30px;
// 			}
// 			ul {
// 				padding-bottom: 20px;
// 				margin-bottom: 20px;
// 				border-bottom: 1px solid #efefef;
// 			}
// 			li {
// 				a {
// 					color: $color_3;
// 					text-decoration: none;
// 					font-family: $font-family_1;
// 				}
// 			}
// 			p {
// 				font-size: 24px;
// 				line-height: 33px;
// 				margin-bottom: 50px;
// 				color: $color_4;
// 			}
// 			a.btn {
// 				font-size: 20px;
// 				line-height: 50px;
// 				border-radius: 25px;
// 				padding: 0 30px;
// 				background-color: $background-color_3;
// 				color: $color_1;
// 			}
// 			a.close {
// 				color: $color_2;
// 				position: absolute;
// 				top: 4%;
// 				left: 10%;
// 				font-size: 30px;
// 				font-weight: bold;
// 				text-decoration: none;
// 			}
// 		}
// 	}
// }


